
<div class="header-section">
  <div class="logo bg-light">
    <a>
      <span class="logo-img">
        <img src="assets/images/ghumloe.png" alt="" height="40">
      </span>
    </a>
  </div>

  <div class="button-container">
    <button mat-button>Ghumloe</button>
    <button mat-button>Feedback</button>
    <button mat-button>Corporate</button>
    <button mat-button>About Us</button>
    <button mat-button>Contact Us</button>
    <button mat-button (click)="openDialog()">Login</button>
  </div>
</div>
