<mat-dialog-content class="mat-typography">
  <!-- <h1 >Sign in</h1> -->
  <div _ngcontent-serverapp-c111="" class="col-12"><p _ngcontent-serverapp-c111="" class="pb-4 px-4 m-0 font-weight-bold font42">Sign in</p></div>

  <form class="example-form">
    <div class="example-container">
      <h3 mat-card-title>Email</h3>
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com            "
          [formControl]="email"  
          (blur)="updateErrorMessage()"
          required
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessage }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="example-container">
      <h3 mat-card-title>Password</h3>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <h3 mat-card-title>Forget Password</h3>

    <button class= "mat-raised-button">Login To Continue</button>

    <h3 mat-card-title>Don't have an account ? Sign up</h3>
  </form>
</mat-dialog-content>
